Source: signon
Section: gnome
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               pkg-config,
               doxygen,
               graphviz,
               libdbus-1-dev,
               libproxy-dev,
               libqt4-dev (>= 4.6),
               libqt4-sql-sqlite,
               libqt5sql5-sqlite,
               libssl-dev,
               qt4-dev-tools,
               qt4-qmake,
               qt5-qmake,
               qtbase5-dev,
               qtchooser,
               dh-migrations,
               dbus-test-runner,
Standards-Version: 3.9.4
Homepage: http://code.google.com/p/accounts-sso/
# If you aren't a member of ~online-accounts but need to upload packaging changes,
# just go ahead.  ~online-accounts will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~online-accounts/signon/trunk

Package: libsignon-qt1
Architecture: any
Section: libs
Priority: optional
Depends: ${shlibs:Depends},
         ${misc:Depends},
Multi-Arch: same
Description: Single Sign On framework
 Framework to provide credential storage and authentication service.

Package: libsignon-qt-dev
Architecture: any
Priority: optional
Section: libdevel
Depends: libsignon-qt1 (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
         libqt4-dev (>= 4.5),
Description: Development files for libsignon-qt
 Headers and static libraries for the libsignon-qt library

Package: libsignon-qt5-1
Architecture: any
Section: libs
Priority: optional
Depends: ${shlibs:Depends},
         ${misc:Depends},
Multi-Arch: same
Description: Single Sign On framework
 Framework to provide credential storage and authentication service.

Package: libsignon-qt5-dev
Architecture: any
Priority: optional
Section: libdevel
Depends: libsignon-qt5-1 (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
         qtbase5-dev,
Description: Development files for libsignon-qt
 Headers and static libraries for the libsignon-qt library

Package: libsignon-qt-doc
Architecture: all
Priority: optional
section: doc
Depends: ${misc:Depends},
Description: QT bindings for single signon - documentation
 .
 This package contains the documentation for libsignon-qt

Package: libsignon-plugins-common1
Architecture: any
Section: libs
Priority: optional
Depends: ${shlibs:Depends},
         ${misc:Depends},
Multi-Arch: same
Description: Single Sign On framework
 Framework to provide credential storage and authentication service.

Package: libsignon-extension1
Architecture: any
Section: libs
Priority: optional
Depends: ${shlibs:Depends},
         ${misc:Depends},
Multi-Arch: same
Description: Single Sign On framework
 Framework to provide credential storage and authentication service.

Package: signond
Architecture: any
Section: gnome
Priority: optional
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libqt5sql5-sqlite,
Breaks: signon-saslplugin (<< 8.40), signon-plugins
Replaces: signon-saslplugin (<< 8.40), signon-plugins
Recommends: signon-ui
Description: Single Sign On framework
 Framework to provide credential storage and authentication service.

Package: signond-dev
Architecture: any
Priority: optional
Section: libdevel
Depends: signond (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
         qtbase5-dev,
Breaks: signon-saslplugin-dev (<< 8.40)
Replaces: signon-saslplugin-dev (<< 8.40)
Description: Development files for Signon client library development
 Common headers and DBUS interfaces definition files for the Signon Framework.

Package: signond-doc
Architecture: all
Priority: optional
section: doc
Depends: ${misc:Depends},
Description: Single Sign On framework - documentation
 .
 This package contains the documentation for signond-dev

Package: signon-plugins-dev
Architecture: any
Section: libdevel
Priority: optional
Depends: libsignon-plugins-common1 (= ${binary:Version}),
         libsignon-qt5-dev,
         ${shlibs:Depends},
         ${misc:Depends},
Description: Development files for Single Sign On plugins
 Headers and static libraries for Single Sign On plugin development.

Package: libsignon-plugins-doc
Architecture: all
Section: doc
Priority: optional
Depends: ${misc:Depends},
Description: Single Sign On framework plugins - documentation
 .
 This package contains the documentation for libsignon-plugins-dev

Package: signon-plugin-password
Architecture: any
Section: libs
Priority: optional
Depends: ${shlibs:Depends},
         ${misc:Depends},
         signond,
Replaces: signon-passwordplugin
Conflicts: signon-passwordplugin
Description: Plain Password plugin for Single Sign On
 Password plugin for Single Sign On.

Package: signon-plugin-ssotest
Architecture: any
Section: libs
Priority: optional
Depends: ${shlibs:Depends},
         ${misc:Depends},
         signond,
Description: Test plugin for Single Sign On
 Test plugin for Single Sign On.
